<div id="region-delete-container">
    <h1>Are you sure you want to delete Region {{region.id}} ?</h1>
    <div class="table-container">
        <table class="quore-detail-table">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{region.id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{region.name}}</td>
                </tr>
            </tbody>
        </table>
        <div class="actions">
            <button class="btn btn-danger" ng-click="delete()">Delete</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>